<html lang="en">
  <head>
    <title>{{title}}</title>
  </head>
  <link rel="stylesheet" href="/css/login.css" />
  <script defer src="/js/login.js"></script>
  <body>
    <h1>{{heading}}</h1>
    <h2>{{subheading}}</h2>
    <form id="login" autocomplete="off">
      <input type="text" id="username" placeholder="Enter your Username" />
      <input type="password" id="password" placeholder="Enter your Password" />
      <input type="submit" value="Login" />
    </form>
    {{signup}}
    <a href="/signUp"> Sign Up </a>
  </body>
</html>