<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <h1>{{heading}}</h1>
    <h2>{{subheading}}</h2>
    <form autocomplete="off">
      <label for="fistName"> First Name: </label>
      <input type="text" id="SignUpfirstName" name="firstName" />
      <br />
      <label for="lastName"> LastName: </label>
      <input type="text" id="SignUplastName" name="lastName" />
      <br />
      <label for="gender"> Gender: </label>
      <select id="SignUpgender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <br />
      <label for="birthYear">Date of Birth:</label>
      <input type="date" name="birthYear" id="SignUpbirthYear" />
      <br />
      <label for="userName">UserName:</label>
      <input type="text" name="userName" id="SignUpuserName" />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="SignUppassword" />
      <br />
      <label for="password_">Confirm Password:</label>
      <input type="password" name="password_" id="SignUppassword_" />
      <br />
      <button type="submit" id="signUp">SignUp</button>
    </form>
  </body>
</html>